@use "../abstracts/variables" as v;

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-size: v.$font-size-2xl;
    color: v.$color-text-light;
    text-align: left;
  }

  &__title {
    font-family: v.$font-red-rose;
    color: v.$color-text-light;
    margin: 0;
  }

  &__actions {
    margin-top: v.$spacing-3xl;
  }

  &__controller {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24rem;
    height: auto;
  }
}
