@use "../abstracts/variables" as v;

#app {
  height: 100%;
  width: 100%;
  position: relative;
}

.screen {
  width: 100vw;
  min-height: 100dvh;

  &:not(.screen--active) {
    display: none !important;
  }

  &--active {
    display: flex !important;
  }
}
