@use "../abstracts/variables" as v;

/* ==========================================================================
   ORBITRON, ALMARAI & RED ROSE FONTS
   ========================================================================== */

@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/orbitron/orbitron-v35-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/orbitron/orbitron-v35-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/orbitron/orbitron-v35-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/orbitron/orbitron-v35-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/orbitron/orbitron-v35-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/orbitron/orbitron-v35-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/almarai/almarai-v19-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/almarai/almarai-v19-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/almarai/almarai-v19-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/almarai/almarai-v19-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/red-rose/red-rose-v25-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/red-rose/red-rose-v25-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/red-rose/red-rose-v25-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/red-rose/red-rose-v25-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/red-rose/red-rose-v25-latin-700.woff2") format("woff2");
}

/* ==========================================================================
   BASE TYPOGRAPHY
   ========================================================================== */

body {
  font-family: v.$font-almarai;
  font-size: v.$font-size-md;
  color: v.$color-text-dark;
}

h1 {
  font-size: v.$font-size-7xl;
}

h2 {
  font-size: v.$font-size-3xl;
}
h3 {
  font-size: v.$font-size-2xl;
}
h4 {
  font-size: v.$font-size-xl;
}
h5 {
  font-size: v.$font-size-xl;
}
h6 {
  font-size: v.$font-size-lg;
}

p {
  font-size: v.$font-size-md;
}
